# Sentiment analysis
1. Task type: NLP
2. Dataset: Tweets (Text type)
3. Usecases: Social Media management, Review Systems, News Analysis for Stock Markets

In [106]:
import pandas as pd
import numpy as np

In [107]:
df = pd.read_csv('./train.csv', encoding='latin-1', names=['Target', 'TweetID', 'Date', 'No_Query', 'UserName', 'Data'])
df.head()

   Target  ...                                               Data
0       0  ...  @switchfoot http://twitpic.com/2y1zl - Awww, t...
1       0  ...  is upset that he can't update his Facebook by ...
2       0  ...  @Kenichan I dived many times for the ball. Man...
3       0  ...    my whole body feels itchy and like its on fire
4       0  ...  @nationwideclass no, it's not behaving at all....

[5 rows x 6 columns]

Observation: 
1. Data is not utf-8 encoded that is why required to set correct encoding to read csv file.
2. Data is not having column names that is why provided it with column name.

In [108]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1600000 entries, 0 to 1599999
Data columns (total 6 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   Target    1600000 non-null  int64
 1   TweetID   1600000 non-null  int64
 2   Date      1600000 non-null  object
 3   No_Query  1600000 non-null  object
 4   UserName  1600000 non-null  object
 5   Data      1600000 non-null  object
dtypes: int64(2), object(4)
memory usage: 73.2+ MB

As it is visible to me that Target and Data are only columns useful for me to train model for sentiment detection, I can drop other columns.

In [109]:
df = df[['Target', 'Data']]
df.head()

   Target                                               Data
0       0  @switchfoot http://twitpic.com/2y1zl - Awww, t...
1       0  is upset that he can't update his Facebook by ...
2       0  @Kenichan I dived many times for the ball. Man...
3       0    my whole body feels itchy and like its on fire
4       0  @nationwideclass no, it's not behaving at all....

Now, I will try to remove words which usually does not contribute to sentiments like tags (@username in data in tweet) and urls. I will keep hashtags as of now to check if they make any effect on data or not.

In [110]:
df['Data'] = df['Data'].replace(r'http\S+', '', regex=True).replace(r'@\S+', '', regex=True)

Data info showing data is not having null values and datatypes are int64 or objects. Now I need to determine language of text for each statement as I want my model to get trained for english only.

In [111]:
from langdetect import detect

In [112]:
def language_test(text):
    try:
        if detect(text)!='en':
            return ''
        else:
            pass
    except:
        pass
df['Data']=df['Data'].apply(language_test)